<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Me</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">

</head>

<body>

{#Output#} <p>
    {% if category and email and message %}
        <h4 class="badge-pill">{{ category.label }}</h4>
    <blockquote class="blockquote">
    <p class="mb-0">{{ message }}</p>
    <footer class="blockquote-footer"> <cite title="User Name">{{ name }}</cite></footer>
    <footer class="blockquote-footer"> <cite title="User Email">{{ email }}</cite></footer>

    {% else %}
    <blockquote class="blockquote text-right">
    <p class="mb-0">Please fill out the form and press submit.</p>
    <footer class="blockquote-footer"> <cite title="Site Owner">Taras</cite></footer>
    </blockquote>

    {% endif %}

{#Seperator#}
<hr class="mt-3 mb-3"/>

{#Input#} <form method="post" class="form-group">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name(type="text", class="form-control", placeholder="Enter your name") }}
    {{ form.category.label }} {{ form.category(class="form-control") }}
    {{ form.email.label }} {{ form.email(type="email", class="form-control", placeholder="Enter your email") }}
    {{ form.message.label }} {{ form.message(class="form-control", rows=5) }}
    {{ form.submit(class="btn btn-primary") }}
</form>

</body>
</html>