<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <meta content="Taras Ivashchuk" name="author" />
    <meta content="My name is Taras, and I am a professional machine learning engineer with roughly 4 years of professional experience building data applications from the ground up." name="description" />

    <link href="../static/favicon.ico" rel="icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" crossorigin="anonymous">

    <title>Taras I. - Full Stack Machine Learning Engineer</title>
</head>

<body>

</body>
