<!DOCTYPE html>
<html lang="en">

<head>
    <script src="http://localhost:8098"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />

    <meta content="Professional website to show people my machine learning and data science work." name="description" />
    <meta content="Taras Ivashchuk" name="author" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/favicon.ico" rel="icon">
    <title>Taras - Full Stack Machine Learning Engineer</title>
</head>

<body>
    <div id="portfolio">
        <div id="personalTextBox">

        </div>
    </div>
    <script src="../src/main.js"></script>

</body>