<h3 style="text-align: center">Projects</h3>
<div class="row card-columns" style="alignment: center">
    <div class="col-2 card">
        <div class=""><img class="img card-img-top " src="../static/img/voxpredict.svg" alt="VoxPredict Logo"></div>
        <div class="card-body">
            <h4 class="card-header">VoxPredict Financial Predictions and Analysis Project Overview</h4>
            <p class="card-text">Starting with little more than a vague idea, built all the tooling and machine/deep learning for performing high-level analysis of financial markets, incorporating models utilizing data of all kinds - numerical, text, audio, and more. As well as all the tooling for data gathering, data processing, visualization, analysis and all other needs for the project. This is my latest work and I am quite proud of both the huge effort and results of this project.</p>
            <p class="card-footer">Project started over a phone call and a high-level idea, and was developed by me alone, and worked as a key person for making decisions as part of a team between the president of GWH Ventures LLC, Gary Heinz, and myself.</p>
        </div>
    </div>
    <div class="col-2 card">
        <img class="img card-img-top" src="../static/img/orry.png" alt="Orry.ai Logo">
        <div class="card-body">
            <h4 class="card-header">Orry.ai Business Intelligence Chatbot MVP Project Overview</h4>
            <p class="card-subtitle">Built a business intelligence chatbot which served as the startups minimum-viable product (MVP), developing tools for processing queries with state-of-the-art NLP techniques such as transformers (such as GPT-2, BERT, etc.) as well as intelligently retrieving data and working it into a human-like response.</p>
            <p class="card-text">The founders of Orry.ai came to me with a vision and all of the concept formulation completed and in need of someone to build a working prototype with the core features they outlined that they could use as a demo and proof-of-concept. The development decisions were left to me and I completed the project, with every requirement outlined in the beginning successfully implemented, building a basic three stage chatbot. The stages were broadly:</p>
            <ul class="card-text list-group">
                <li class="card-text list-group-item">Text processing cleaning up and standardizing the input query</li>
                <li class="card-text list-group-item">Natural language machine and/or deep learning models to interpret and classify the processed user query</li>
                <li class="card-text list-group-item">Data retrieval framework for looking up any required data, both public and proprietary, needed for the response</li>
                <li class="card-text list-group-item">Natural language model, specifically a transformer (examples include GPT-2  and BERT), to use the data and the question classification to formulate a human-like responses</li>
            </ul>
            <p class="card-footer">Project started over a phone call and a high-level idea, and was developed by me alone, and worked as a key person for making decisions as part of a team between the president of GWH Ventures LLC, Gary Heinz, and myself.</p>
        </div>
    </div>
</div>
